<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>- LAYOUT | WINSUIPubGuide -</title>
<link rel="stylesheet" type="text/css" href="../../com/css/reset.css" />
<script type="text/javascript" src="../../../com/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../../../com/js/html5shiv.js"></script>
<style type="text/css">
#wrap {background:#ddd; width:960px; margin:auto; padding:5px 5px 0;}
#header, #container, #footer {background:#000; margin-bottom:5px; padding:5px;}
#header {height:50px;line-height:50px;}
#container {height:400px;line-height:400px;}
#footer {height:50px;line-height:50px;}
.samCon {background:#fff; height:100%; font-size:24px; font-weight:bold; text-align:center;}
</style>
</head>

<body>

<div title="스킵메뉴" class="skipMenu">
    <a href="#Container">본문 내용 바로가기</a>
</div>
<hr />
<div id="wrap">
	<!-- Header s -->
	<div id="header"><div class="samCon">HEADER</div></div><!--// div header -->
    <!--// Header e -->
    
    <hr />
    
    <!-- Container s -->
    <div id="container"><div class="samCon">CONTAINER</div></div><!--// div container -->
    <!--// Container e -->
    
    <hr />
    
    <!-- Footer s -->
    <div id="footer"><div class="samCon">FOOTER</div></div><!--// div footer -->
    <!--// Footer e -->
</div><!--// div wrap -->
</body>
</html>
