<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="Author" content="www.lottehotel.com" />
	<title> subLayout02 | LOTTE HOTEL </title>
	<link rel="stylesheet" type="text/css" href="../../../com/css/cm.import.ko.css" />
	<script type="text/javascript" src="../../../com/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="../../../com/js/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="../../../com/js/cm.jQuery.design.js"></script>
	<script type="text/javascript" src="../../../com/js/cm.jQuery.thumbSlide.js"></script>
    <script type="text/javascript" src="../../../com/js/cm.jQuery.ui.js"></script>
    <style type="text/css">
	.split.col2 > .dep03Sec, .split.col3 > .dep03Sec, .split > .colSec {background:#FFFFC3;}
	dl.dep03Sec > dd > .split.col2 > .colSec {background:#E6FFC8;}

	</style>

</head>

<body>
	<!-- #wrap | .main / .subLayout01 .subLayout02
		   .subLayout01 : LNB없음 1단구조 .subLayout02 : LNB있음 2단구조
	-->
	<div class="skip_nav">
		<a href="#container">본문으로 바로가기</a>
	</div><!-- //skip_nav -->
    <div id="signiel" class="chSigniel">
		<hr />
		<div id="wrap" class="subLayout01">
            <div id="header">
                <div class="header_top">
                    <div class="inner">
                        <a href="#" class="logo"><img src="/front/img/com/chain/logo_seoul.png" alt="LOTTE HOTEL SEOUL" /></a>
                    </div><!-- //inner -->
                </div><!-- //header_top -->
                <div class="header_body">
                    <div class="inner">
                        <ul class="gnb">
                            <li><a href="#">OVERVIEW</a></li>
                            <li><a href="#">ACCOMMODATION</a></li>
                            <li><a href="#">DINING</a></li>
                            <li><a href="#">MEETING &amp; WEDDING</a></li>
                            <li><a href="#">FACILITIES</a></li>
                            <li><a href="#">SPECIAL OFFERS</a></li>
                            <li><a href="#">RESERVATION</a></li>
                        </ul>
                    </div><!-- //inner -->
                </div><!-- //gnb -->
            </div><!-- //header_body -->
		
            <hr />

            <!-- 컨테츠 영역 -->
            <div id="container">
                <div class="inner">
                    <div class="bodyContent">
                        <div class="title">
                            <div class="line_map">
                                <a href="#"><span>처음으로</span></a>
                                <a href="#">Accommodation</a>
                                <a href="#">Ladies floor</a>
                                <span>Superior Room</span>
                            </div><!-- //location -->
                            
                            <hr />
                            
                            <h2 class="subtitle">Superior Room</h2>
                            
                            <hr />
                            
                            <div class="page_util">
                                <a href="#" class="page_print">PRINT</a>
                                <a href="#" class="page_email">E-MAIL</a>
                            </div><!-- //page_util -->
                        </div><!-- //title -->
                        <div class="dep02Sec">
							<div class="split col2 imgTxt imgMs">
								<div class="colSec">
									<img src="/front/img/com/temp/temp_img_230x130.jpg" alt="" />
								</div><!-- // colSec div -->
							
								<div class="colSec txt_dsc ls">
									신관 35층에 위치한 &lt; 페이르 가니에르 서울 &gt;은 차별화된 감각의 인테리어와 북한산과 서울 시내가 한눈에 들어오는 환상적인 조망을 비롯하여 혁신적이고 다양한 조리법과 독특하고 예술적인 감각이 돋보이는 프렌치 퀴진(FRENCH CUISINE)은 물론 지금까지 국내에서 접할 수 없었던 130여종의 와인을 포함한 270여종의 와인 컬렉션, 고객 서비스 등 각 분야 전문가들의 세심한 서비스를 즐길 수 잇는 국내 유일의 프렌치<!--  레스토랑입니다. -->
								</div><!-- // colSec div -->
							</div><!-- // split2col div  -->
                        	<!-- <div class="txt_dsc ls header">텍스트일 경우 1dep tit 바로 아래에 오는 경우 여백 32px 유지. <br />고객의 취향에 맞춰 경제적이고 실용적으로 이용하실 수 있는 넓은 공간감의 슈페리어룸은 안정감을 주는 베이지 그레이와 화이트 컬러를 주조로 한 밝고 화사한 분위기의 객실과 모던간 감각 속에 세련된 오리엔털 무드를 가미한 디자인으로 새롭게 단장한 두가지 타입의 객실이 준비되어 있습니다.</div> -->  <!--// txt_dsc div -->
                        </div><!-- // dep02Sec div -->
                        
                        <div class="dep02Sec">
                        	<h2 class="tit2dep tit">2dep Title</h2>
                            
                        	<div class="dep03Sec">
                            	<h3 class="tit3dep tit">3dep Title</h3>
                                <div class="txt_dsc">텍스트일 경우 1dep tit 바로 아래에 오는 경우 여백 40px 유지.<br />고객의 취향에 맞춰 경제적이고 실용적으로 이용하실 수 있는 넓은 공간감의 슈페리어룸은 안정감을 주는 베이지 그레이와 화이트 컬러를 주조로 한 밝고 화사한 분위기의 객실과 모던간 감각 속에 세련된 오리엔털 무드를 가미한 디자인으로 새롭게 단장한 두가지 타입의 객실이 준비되어 있습니다.</div><!--// txt_dsc div -->
                        	</div><!--// dep03Sec div -->
                            
                            <div class="dep03Sec">
                                <h3 class="tit3dep tit">3dep Title</h3>
                                <ul class="lst03dep">
                                    <li>조식 가격은 1인 \42,000입니다. (세금 및 봉사료 포함) Extra-Bed 추가시 \50,000이 가산됩니다. 조식 가격은 1인 \42,000입니다. (세금 및 봉사료 포함) Extra-Bed 추가시 \50,000이 가산됩니다.</li>
                                    <li>모든 요금에는 세금 10%, 봉사료 10% (합계 20%)가 부과됩니다. Complimentary 2 bottles of water daily</li>
                                    <li>조식 가격은 1인 \42,000입니다. (세금 및 봉사료 포함) Extra-Bed 추가시 \50,000이 가산됩니다.</li>
                                    <li>조식 가격은 1인 \42,000입니다. </li>
                                    <li>조식 가격은 1인 \42,000입니다. (세금 및 봉사료 포함) Extra-Bed 추가시 \50,000이 가산됩니다.</li>
                                </ul>
                            </div><!--// dep03Sec div -->

							<div class="dep03Sec">
                                <h3 class="tit3dep">3dep Title</h3>
								<!-- row_table -->
									<div class="tbl_wrap">
										<table class="tbl">
											<caption>게시판 글보기</caption>
											<colgroup>
												<col width="18%" />
												<col width="32%" />
												<col width="18%" />
												<col width="32%" />
											</colgroup>
											<tbody>
												<tr>
													<th id="row1"><span>제목</span></th>
													<td headers="row1" colspan="3"><div class="td_cont">롯데호텔, 프리미엄 브랜드 지수 호텔부문 1위</div></td>
												</tr>
												<tr>
													<!-- D : 테이블 한줄에 th가 2개 이상일때 id, headers사용  -->
													<th id="row2"><span>등록일자</span></th>
													<td headers="row2"><div class="td_cont">2013-10-25</div></td>
													<th id="row3"><span>조회수</span></th>
													<td headers="row3"><div class="td_cont">888</div></td>
												</tr>
												<tr>
													<th id="row4"><span>첨부파일</span></th>
													<td headers="row4" colspan="3"><div class="td_cont add_file"><a href="#">News.doc</a></div></td>
												</tr>
											</tbody>
										</table>
									</div><!-- //tbl_wrap end-->
									<!-- //row_table -->

                            </div><!--// dep03Sec div -->
                            
                        </div><!-- // dep02Sec div -->
                        

						<div class="dep02Sec">
                        	<h2 class="tit2dep tit">2dep Title+lst03dep</h2>
							<ul class="lst03dep">
								<li>조식 가격은 1인 \42,000입니다. (세금 및 봉사료 포함) Extra-Bed 추가시 \50,000이 가산됩니다. 조식 가격은 1인 \42,000입니다. (세금 및 봉사료 포함) Extra-Bed 추가시 \50,000이 가산됩니다.</li>
								<li>모든 요금에는 세금 10%, 봉사료 10% (합계 20%)가 부과됩니다. Complimentary 2 bottles of water daily</li>
								<li>조식 가격은 1인 \42,000입니다. (세금 및 봉사료 포함) Extra-Bed 추가시 \50,000이 가산됩니다.</li>
								<li>조식 가격은 1인 \42,000입니다. </li>
								<li>조식 가격은 1인 \42,000입니다. (세금 및 봉사료 포함) Extra-Bed 추가시 \50,000이 가산됩니다.</li>
							</ul>
                        </div><!-- // dep02Sec div -->


                        <div class="dep02Sec">
                        	<h2 class="tit2dep tit">2dep Title - 2단 GRID | 3dep tit+list</h2>
                            <div class="split col2">
                            	<div class="colSec">
                                    <div class="dep03Sec">
                                        <h3 class="tit3dep tit">3dep Title</h3>
                                        <ul class="lst03dep">
                                            <li>조식 가격은 1인 \42,000입니다. (세금 및 봉사료 포함) Extra-Bed 추가시 \50,000이 가산됩니다. 조식 가격은 1인 \42,000입니다. (세금 및 봉사료 포함) Extra-Bed 추가시 \50,000이 가산됩니다.</li>
                                            <li>모든 요금에는 세금 10%, 봉사료 10% (합계 20%)가 부과됩니다. Complimentary 2 bottles of water daily</li>
                                            <li>조식 가격은 1인 \42,000입니다. (세금 및 봉사료 포함) Extra-Bed 추가시 \50,000이 가산됩니다.</li>
                                            <li>조식 가격은 1인 \42,000입니다. </li>
                                            <li>조식 가격은 1인 \42,000입니다. (세금 및 봉사료 포함) Extra-Bed 추가시 \50,000이 가산됩니다.</li>
                                        </ul>
                                    </div><!--// dep03Sec div -->
                                </div><!--// colSec div -->
                                
                                <div class="colSec">                                    
                                    <div class="dep03Sec">
                                        <h3 class="tit3dep tit">3dep Title</h3>
                                        <ul class="lst03dep">
                                            <li>조식 가격은 1인 \42,000입니다. (세금 및 봉사료 포함) Extra-Bed 추가시 \50,000이 가산됩니다. 조식 가격은 1인 \42,000입니다. (세금 및 봉사료 포함) Extra-Bed 추가시 \50,000이 가산됩니다.</li>
                                            <li>모든 요금에는 세금 10%, 봉사료 10% (합계 20%)가 부과됩니다. Complimentary 2 bottles of water daily</li>
                                            <li>조식 가격은 1인 \42,000입니다. (세금 및 봉사료 포함) Extra-Bed 추가시 \50,000이 가산됩니다.</li>
                                            <li>조식 가격은 1인 \42,000입니다. </li>
                                            <li>조식 가격은 1인 \42,000입니다. (세금 및 봉사료 포함) Extra-Bed 추가시 \50,000이 가산됩니다.</li>
                                        </ul>
                                    </div><!--// dep03Sec div -->
                                </div><!--// colSec div -->
                            </div><!--// split2col div -->
                        </div><!-- // dep02Sec div -->
                        
                        <div class="dep02Sec">
                        	<h2 class="tit2dep">2dep Title - 2단 GRID | no tit, only contents</h2>
                            <div class="split col2 imgTxt imgMs">
                                <div class="colSec">
                                	<img src="/front/img/com/temp/temp_img_230x130.jpg" alt="" />
                                </div><!--// colSec div -->
                                
                                <div class="colSec txt_dsc">
                                	<div class="dep03Sec">
                                        <h3 class="tit3dep tit">3dep Title</h3>
                                        <div class="txt_dsc">신관 35층에 위치한 &lt; 페이르 가니에르 서울 &gt;은 차별화된 감각의 인테리어와 북한산과 서울 시내가 한눈에 들어오는 환상적인 조망을 비롯하여 혁신적이고 다양한 조리법과 독특하고 예술적인 감각이 돋보이는 프렌치 퀴진(FRENCH CUISINE)은 물론 지금까지 국내에서 접할 수 없었던 130여종의 와인을 포함한 270여종의 와인 컬렉션, 고객 서비스 등 각 분야 전문가들의 세심한 서비스를 즐길 수 잇는 국내 유일의 프렌치 레스토랑입니다.</div>
                                    </div><!--// dep03Sec div -->
                                </div><!--// colSec div -->
                            </div><!--// split2col div -->
                            
                            <div class="split col2 imgTxt">
                                <div class="colSec">
                                	<img src="/front/img/com/temp/temp_img_345x200.jpg" alt="" />
                                </div><!--// colSec div -->
                                
                                <div class="colSec txt_dsc ls">
                                	신관 35층에 위치한 &lt; 페이르 가니에르 서울 &gt;은 차별화된 감각의 인테리어와 북한산과 서울 시내가 한눈에 들어오는 환상적인 조망을 비롯하여 혁신적이고 다양한 조리법과 독특하고 예술적인 감각이 돋보이는 프렌치 퀴진(FRENCH CUISINE)은 물론 지금까지 국내에서 접할 수 없었던 130여종의 와인을 포함한 270여종의 와인 컬렉션, 고객 서비스 등 각 분야 전문가들의 세심한 서비스를 즐길 수 잇는 국내 유일의 프렌치 레스토랑입니다.
                                </div><!--// colSec div -->
                            </div><!--// split2col div -->
                        </div><!-- // dep02Sec div -->
                        
                        <div class="dep02Sec">
                        	<h2 class="tit2dep">2dep Title - 2단 GRID | IMG vitical contents</h2>
                            <div class="txt_dsc tit ls">롯데호텔의 시설을 실질적으로 통제하는 중앙 감시반은 고객의 안전을 위해 최첨단 중앙통제시스템을 도입하여 운영하고 있습니다. 또한, 비상 대기조를 24시간 운영하는 등 완벽한 방화 시스템 구축을 통하여 고객의 안전에 만전을 기하고 있습니다.
								<ul class="lst02dep">
									<li>※ 회원 및 호텔 투숙객만 이용가능</li>
									<li>※ 피트니스 클럽 이용 시 무료 주차 (5시간/일)</li>
								</ul>
							</div>
                            <div class="split col2 imgTxtV">
                                <div class="colSec">
                                	<dl class="dep03Sec">
                                		<dt class="tit3dep">3dep Tit</dt>
                                		<dd>
                                			<ul class="lst03dep">
                                				<li>전 객실 방화마스크</li>
                                				<li>배연설비</li>
                                				<li>자동 화재 탐지설비</li>
                                				<li>스프링쿨러</li>
                                			</ul>
                                		</dd>
                                        <dd class="imgArea"><img src="/front/img/com/temp/temp_img_345x200.jpg" alt="" /></dd>
                                	</dl>
                                	
                                </div><!--// colSec div -->
                                
                                <div class="colSec">
                                	<dl class="dep03Sec">
                                		<dt class="tit3dep">3dep Tit</dt>
                                		<dd>
                                			<div class="split col2">
                                                <div class="colSec">
                                                    <ul class="lst03dep">
                                                        <li>비데</li>
                                                        <li>헤어드라이기</li>
                                                        <li>욕실용품(알로에베라)</li>
                                                        <li>1회용 칫솔치약, 면도기</li>
                                                    </ul>
                                                </div><!--// colSec div -->
                                                
                                                <div class="colSec">
                                                    <ul class="lst03dep">
                                                        <li>비데</li>
                                                        <li>헤어드라이기</li>
                                                        <li>욕실용품(알로에베라)</li>
                                                        <li>1회용 칫솔치약, 면도기</li>
                                                    </ul>
                                                </div><!--// colSec div -->
                                            </div><!--// split2col div -->
                                		</dd>
                                        <dd class="imgArea"><img src="/front/img/com/temp/temp_img_345x200.jpg" alt="" /></dd>
                                	</dl>
                                </div><!--// colSec div -->
                                
                                <div class="colSec">
                                	<dl class="dep03Sec type02">
                                		<dt class="tit3dep">3dep Tit ICO Illust</dt>                                        
                                		<dd class="txt_dsc">
                                			최첨단 건강관리 시스템으로 Ant-Aging과 Esthetic을 지켜주는 The Clinic.
                                		</dd>
                                        <dd class="dotlineT">
                                        	<ul class="lstInfo">
                                				<li><span class="date">Date.</span> <span>2013.9.1 ~ 2013.12.30</span></li>
                                				<li><span class="price">Price.</span> <span>390,000(krw)</span></li>
                                            </ul>
                                        </dd>
                                        <dd class="imgArea"><img src="/front/img/com/temp/temp_img_345x200.jpg" alt="" /></dd>
                                	</dl>
                                	
                                </div><!--// colSec div -->
                                
                                <div class="colSec">
                                	<dl class="dep03Sec type02 ico_illustSet">
                                		<dt class="tit3dep">3dep Tit ICO Illust</dt>                                        
                                		<dd>
                                			<ul class="lst03dep">
                                				<li>전 객실 방화마스크전 객실 방화마스크객실 방화마스크</li>
                                				<li>배연설비</li>
                                				<li>자동 화재 탐지설비</li>
                                				<li>스프링쿨러</li>
                                			</ul>
                                		</dd>
                                        <dd class="dotlineT">
                                        	<ul class="lstInfo">
                                				<li><span class="date">Date.</span> <span>2013.9.1 ~ 2013.12.30</span></li>
                                				<li><span class="price">Price.</span> <span>390,000(krw)</span></li>
                                            </ul>
                                        </dd>
                                        <dd class="imgArea"><img src="/front/img/com/temp/temp_img_345x200.jpg" alt="" /></dd>
                                        <dd class="ico_illust ico_img01">&nbsp;</dd>
                                	</dl>
                                	
                                </div><!--// colSec div -->
                                
                            </div><!--// split2col div -->
                            
                        </div><!-- // dep02Sec div -->
                        
                        <div class="dep02Sec">
                        	<h2 class="tit2dep tit">2dep Title - 3단 GRID</h2>
                            <div class="split col3">
                            	<div class="colSec">
                                    <div class="dep03Sec">
                                        <h3 class="tit3dep tit">3dep Title</h3>
                                        <ul class="lst03dep">
                                            <li>비데</li>
                                            <li>헤어드라이기</li>
                                            <li>욕실용품(알로에베라)</li>
                                            <li>1회용 칫솔치약, 면도기</li>
                                            <li>목욕가운, 유카타</li>
                                            <li>요청시 기능성 Pillow 제공 서비스</li>
                                        </ul>
                                    </div><!--// dep03Sec div -->
                                </div><!--// colSec div -->
                                
                                <div class="colSec">                                    
                                    <div class="dep03Sec">
                                        <h3 class="tit3dep tit">3dep Title</h3>
                                        <ul class="lst03dep">
                                            <li>비데</li>
                                            <li>무료 생수 1일 2병 제공 (롯데 아이시스)</li>
                                            <li>욕실용품(알로에베라)</li>
                                            <li>1회용 칫솔치약, 면도기</li>
                                            <li>목욕가운, 유카타</li>
                                            <li>요청시 기능성 Pillow 제공 서비스</li>
                                        </ul>
                                    </div><!--// dep03Sec div -->
                                </div><!--// colSec div -->
                                    
                                <div class="colSec">                                    
                                    <div class="dep03Sec">
                                        <h3 class="tit3dep tit">3dep Title</h3>
                                        <ul class="lst03dep">
                                            <li>비데</li>
                                            <li>헤어드라이기</li>
                                            <li>욕실용품(알로에베라)</li>
                                            <li>1회용 칫솔치약, 면도기</li>
                                        </ul>
                                    </div><!--// dep03Sec div -->
                                </div><!--// colSec div -->
                            </div><!--// split2col div -->
                        </div><!-- // dep02Sec div -->
                        
                        <div class="dep02Sec">
                        	<h2 class="tit2dep">2dep Title - 3단 GRID | IMG vitical contents</h2>
                            <!--<div class="txt_dsc ls">롯데호텔의 시설을 실질적으로 통제하는 중앙 감시반은 고객의 안전을 위해 최첨단 중앙통제시스템을 도입하여 운영하고 있습니다. 또한, 비상 대기조를 24시간 운영하는 등 완벽한 방화 시스템 구축을 통하여 고객의 안전에 만전을 기하고 있습니다.</div> -->
                            <div class="split col3 imgTxtV">
                                <div class="colSec">
                                	<dl class="dep03Sec">
                                		<dt class="tit3dep">3dep Tit</dt>
                                		<dd>
                                			<ul class="lst03dep">
                                				<li>전 객실 방화마스크</li>
                                				<li>배연설비</li>
                                				<li>자동 화재 탐지설비</li>
                                				<li>스프링쿨러</li>
                                			</ul>
                                		</dd>
                                        <dd class="imgArea"><img src="/front/img/com/temp/temp_img_230x130.jpg" alt="" /></dd>
                                	</dl>
                                	
                                </div><!--// colSec div -->
                                
                                <div class="colSec">
                                	<dl class="dep03Sec">
                                		<dt class="tit3dep">3dep Tit</dt>
                                		<dd>
                                			<ul class="lst03dep">
                                				<li>전 객실 방화마스크</li>
                                				<li>배연설비</li>
                                				<li>자동 화재 탐지설비</li>
                                				<li>스프링쿨러</li>
                                			</ul>
                                		</dd>
                                        <dd class="imgArea"><img src="/front/img/com/temp/temp_img_230x130.jpg" alt="" /></dd>
                                	</dl>
                                </div><!--// colSec div -->
                                
                                <div class="colSec">
                                	<dl class="dep03Sec">
                                		<dt class="tit3dep">3dep Tit</dt>
                                		<dd>
                                			<ul class="lst03dep">
                                				<li>전 객실 방화마스크</li>
                                				<li>배연설비</li>
                                				<li>자동 화재 탐지설비</li>
                                				<li>스프링쿨러</li>
                                			</ul>
                                		</dd>
                                        <dd class="imgArea"><img src="/front/img/com/temp/temp_img_230x130.jpg" alt="" /></dd>
                                	</dl>
                                </div><!--// colSec div -->
                                
                                <div class="colSec">
                                	<dl class="dep03Sec">
                                		<dt class="tit3dep">3dep Tit</dt>
                                		<dd>
                                			<ul class="lst03dep">
                                				<li>전 객실 방화마스크</li>
                                				<li>배연설비</li>
                                				<li>자동 화재 탐지설비</li>
                                				<li>스프링쿨러</li>
                                			</ul>
                                		</dd>
                                        <dd class="imgArea"><img src="/front/img/com/temp/temp_img_230x130.jpg" alt="" /></dd>
                                	</dl>
                                </div><!--// colSec div -->
                            </div><!--// split3col div -->
                        </div><!-- // dep02Sec div -->
              
						
                        <div class="dep02Sec">
                        	<h2 class="tit2dep">2dep Title - 3단 GRID | text 중앙정렬</h2>
                            <!--<div class="txt_dsc ls">롯데호텔의 시설을 실질적으로 통제하는 중앙 감시반은 고객의 안전을 위해 최첨단 중앙통제시스템을 도입하여 운영하고 있습니다. 또한, 비상 대기조를 24시간 운영하는 등 완벽한 방화 시스템 구축을 통하여 고객의 안전에 만전을 기하고 있습니다.</div> -->
                            <div class="split col3 imgTxtV">
                                <div class="colSec">
									<div class="dep03Sec">
										<img src="/front/img/com/temp/temp_img_230x130.jpg" alt="" />
										<div class="txt_dsc">&lt;Banquet&gt;</div>
									</div><!--// dep03Sec div -->
                                </div><!--// colSec div -->

								<div class="colSec">
									<div class="dep03Sec">
										<img src="/front/img/com/temp/temp_img_230x130.jpg" alt="" />
										<div class="txt_dsc">&lt;Theater&gt;</div>
									</div><!--// dep03Sec div -->
								 </div><!--// colSec div -->
							
								<div class="colSec">
									<div class="dep03Sec">
										<img src="/front/img/com/temp/temp_img_230x130.jpg" alt="" />
										<div class="txt_dsc">&lt;Classroom&gt;</div>
									</div><!--// dep03Sec div -->
								 </div><!--// colSec div -->
                            </div><!--// split3col div -->
                        </div><!-- // dep02Sec div -->							

                        <!--
                        <div class="dep02Sec">
                        	<h2 class="tit2dep">2dep Title - 아래 이미지</h2> -->
							<!-- gallery type2 -->
							<!--
							<div class="gallery_list type2">
								<a href="#" class="btn_prev"><span class="hide">이전</span></a>
								<div class="gallery_thumb">
									<ul>
										<li class="on"><a href="#"><img src="/front/img/com/dummy/dummy_type2_gallery1.jpg" alt="SEOUL, KOREA1" /></a></li>
										<li><a href="#"><img src="/front/img/com/dummy/dummy_type2_gallery2.jpg" alt="SEOUL, KOREA2" /></a></li>
										<li><a href="#"><img src="/front/img/com/dummy/dummy_type2_gallery1.jpg" alt="SEOUL, KOREA3" /></a></li>
										<li><a href="#"><img src="/front/img/com/dummy/dummy_type2_gallery2.jpg" alt="SEOUL, KOREA4" /></a></li>
										<li><a href="#"><img src="/front/img/com/dummy/dummy_type2_gallery1.jpg" alt="SEOUL, KOREA5" /></a></li>
										<li><a href="#"><img src="/front/img/com/dummy/dummy_type2_gallery2.jpg" alt="SEOUL, KOREA6" /></a></li>
									</ul>
								</div>--><!-- //list_thumb -->
								<!--<a href="#" class="btn_next"><span class="hide">다음</span></a>
							</div>--><!-- //list_gallery -->
							<!-- <div class="gallery_view type2">
								<img src="/front/img/com/dummy/dummy_type2_gallery1.jpg" alt="SEOUL, KOREA1" />
							</div>//gallery_view -->
							<!-- //end gallery type2 -->
                        <!--</div>--><!-- // dep02Sec div -->

						<div class="dep02Sec">
							<h2 class="tit2dep">2dep Title - 아래 테이블</h2>
							<!-- board_box -->
							<div class="bbs_box">
								<table class="bbs_list">
									<caption>News&amp;Notice 게시판</caption>
									<colgroup>
										<col width="10%" />
										<col width="65%" />
										<col width="15%" />
										<col width="10%" />
									</colgroup>
									<thead>
										<tr>
											<th scope="col">번호</th>
											<th scope="col">제목</th>
											<th scope="col">등록일자</th>
											<th scope="col">조회수</th>
										</tr>
									</thead>
									<tbody>
										<!-- D : loop 공지일경우 class="newest" 추가 -->
										<tr class="newest">
											<td><div class="td_cont">10</div></td>
											<td class="alL"><div class="td_cont sbj"><a href="#">8월 수영장 이용 시간 제한 안내 공지</a><span class="new">NEW</span></div></td>
											<td><div class="td_cont">2012/08/23</div></td>
											<td><div class="td_cont">98</div></td>
										</tr>
										<!-- //D : loop 공지일경우 -->
										<!-- D : loop  일반 -->
										<tr>
											<td><div class="td_cont">8</div></td>
											<td class="alL"><div class="td_cont sbj"><a href="#">롯데호텔, 한국 서비스 품질지수 호텔부문 1위</a></div></td>
											<td><div class="td_cont">2012/08/23</div></td>
											<td><div class="td_cont">98</div></td>
										</tr>
										<!-- //D : loop 일반 -->
										<!-- D : 내용이 없을 경우 -->
										<tr>
											<td colspan="4" class="nodata"><div class="td_cont">등록된글이 없습니다.</div></td>
										</tr>
										<!-- //D : 내용이 없을 경우 -->
									</tbody>
								</table>
							</div><!-- //bbs_box end-->
							<!-- board_box -->
						</div><!-- // dep02Sec div -->
						<div class="dep02Sec">
                        	<h2 class="tit2dep">2dep Title - Folding 형 Content Close</h2>
                            <div class="txt_dsc tit ls">롯데호텔의 시설을 실질적으로 통제하는 중앙 감시반은 고객의 안전을 위해 최첨단 중앙통제시스템을 도입하여 운영하고 있습니다. 또한, 비상 대기조를 24시간 운영하는 등 완벽한 방화 시스템 구축을 통하여 고객의 안전에 만전을 기하고 있습니다.</div>
							<dl class="acCont">
								<dt class="tit2dep"><a href="#"><span>FOLDING 형 CONTENT CLOSE</span></a></dt>
								<dd>
									<dl>
										<dt class="tit3dep">광화문 방면</dt>
										<dd class="txt_dsc">시청 앞 사거리를 지나 남대문 앞에서 U턴 > 시청 방향으로 다시 오다가 한화손해보험 빌딩 전에서 북창동길로 우회전 > 조선호텔 앞에서 을지로 방향으로 좌회전 > 시청광장 옆에서 우회전 > 약 50미터 직진 후 롯데호텔 주차장으로 진입</dd>
										<dt class="tit3dep">신촌/서소문</dt>
										<dd class="txt_dsc">시청 앞 사거리를 지나 남대문 앞에서 U턴 > 시청 방향으로 다시 오다가 한화손해보험 빌딩 전에서 북창동길로 우회전 > 조선호텔 앞에서 을지로 방향으로 좌회전 > 시청광장 옆에서 우회전 > 약 50미터 직진 후 롯데호텔 주차장으로 진입</dd>
										<dt class="tit3dep">남산 3호 터널</dt>
										<dd class="txt_dsc">경부고속도로 종점에서 직진하여 한남대교 횡단 > 횡단 후 고가로 진입 > 남산 1호터널 고가도로 진입 > 1호터널 통과 후 첫 번째 사거리에서 직진 > 2번째 사거리(을지로2가) 에서 시청방향으로 좌회전 > 약 100 미터 직진 후(3~4차선 이용) 롯데 영프라자 앞에서 우회전 > 약 50미터 직진 후 롯데 백화점 주차장 진입 (롯데 백화점과 호텔은 동일한 주차장 이용)</dd>
										<dt class="tit3dep">경부고속도로</dt>
										<dd class="txt_dsc">경부고속도로 종점에서 직진하여 한남대교 횡단 > 횡단 후 고가로 진입 > 남산 1호터널 고가도로 진입 > 1호터널 통과 후 첫 번째 사거리에서 직진 > 2번째 사거리(을지로2가) 에서 시청방향으로 좌회전 > 약 100 미터 직진 후(3~4차선 이용) 롯데 영프라자 앞에서 우회전 > 약 50미터 직진 후 롯데 백화점 주차장 진입 (롯데 백화점과 호텔은 동일한 주차장 이용)</dd>
									</dl>
								</dd>
								<dt class="tit2dep"><a href="#"><span>FOLDING 형 CONTENT CLOSE</span></a></dt>
								<dd>
									<dl>
										<dt class="tit3dep">광화문 방면</dt>
										<dd class="txt_dsc">시청 앞 사거리를 지나 남대문 앞에서 U턴 > 시청 방향으로 다시 오다가 한화손해보험 빌딩 전에서 북창동길로 우회전 > 조선호텔 앞에서 을지로 방향으로 좌회전 > 시청광장 옆에서 우회전 > 약 50미터 직진 후 롯데호텔 주차장으로 진입</dd>
										<dt class="tit3dep">신촌/서소문</dt>
										<dd class="txt_dsc">시청 앞 사거리를 지나 남대문 앞에서 U턴 > 시청 방향으로 다시 오다가 한화손해보험 빌딩 전에서 북창동길로 우회전 > 조선호텔 앞에서 을지로 방향으로 좌회전 > 시청광장 옆에서 우회전 > 약 50미터 직진 후 롯데호텔 주차장으로 진입</dd>
									</dl>
								</dd>
							</dl> <!-- //acCont -->
                        </div><!-- // dep02Sec div -->
						<div class="dep02Sec">
							<h2 class="tit2dep">List Type - Content내 기본적인 dl 구조 리스트</h2>
							<dl class="listTxt">
								<dt>Date</dt>                                        
								<dd>
									<span class="data">2013. 9. 1 ~ 2013.12.30</span>
								</dd>
								<dt>Price</dt>                                        
								<dd>
									&#8361;120,000
								</dd>
								<dt>Menu</dt>                                        
								<dd>
									<ul class="lst03dep">
										<li><strong>스파클링 와인</strong>  <span>1잔</span></li>
										<li><strong>셰프 특미 전채요리</strong>  <span>1종</span></li>
										<li><strong>스시카운터 최고급 스시</strong>  <span>무제한</span></li>
										<li><strong>디저트</strong>  <span>1종</span></li>
									</ul>
								</dd>										
							</dl>
						</div><!-- // dep02Sec div -->
						
                    </div><!-- //bodyContent -->
                </div><!-- //inner -->
            </div><!-- //container -->
            <!-- //컨테츠 영역 -->

			<hr />
            <!-- OFFER AREA s -->
            <div class="offers">
                <div class="inner"></div><!-- //inner -->
            </div><!-- //offers -->            
            <hr /><!--// OFFER AREA s -->
            
            <div id="footer">
                <div class="inner"></div><!-- //inner -->
            </div><!-- //footer -->
        </div><!-- //wrap -->
    </div><!--// div #signiel.chSigniel end -->
</body>
</html>
