@charset "UTF-8";
/* beautysquare.css */
/* 로딩 애니메이션 */
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -o-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.lazy-loader, .loading .loader {
    height: 46px;
    width: 46px;
    margin: 0px auto;
    position: relative;
    left: -4px;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid rgba(116, 138, 188, 0.4);
    border-right: 6px solid rgba(116, 138, 188, 0.4);
    border-bottom: 6px solid rgba(116, 138, 188, 0.4);
    border-top: 6px solid rgba(104, 129, 185, 0.9);
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    border-radius: 52px;
}

/* 로딩 애니메이션 */
.loading {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 1;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4000;
    -webkit-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.loading.end {
    opacity: 0;
    -webkit-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.loading .loader {
    margin-left: -23px;
    margin-top: -23px;
    opacity: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    -webkit-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.clear, .tit:after, .thumb_txt_list li:after, .tab:after, .img_list ul li a:after, .fb_type .user_info:after {
    content: '';
    display: block;
    clear: both;
}

body.sub {
    background-color: #ececec;
}

body.sub #wrap {
    padding-top: 0;
}

img {
    max-width: 100%;
}

/* wrapper */
#wrap {
    width: 100%;
    position: relative;
    padding-top: 32px;
    opacity: 0;
}

#wrap.loaded {
    opacity: 1;
    z-index: 9000;
}

/* 버튼 스타일 */
.btn {
    display: inline-block;
    padding: 5px 18px 5px;
    border-width: 1px;
    border-style: solid;
    color: #fff;
    font-size: 0.929em;
    line-height: 1;
    text-align: center;
}

.btn.st1 {
    border-color: #fff;
}

.btn_normal {
    display: inline-block;
    float: right;
    line-height: 1.429em;
    padding: 0 11px;
    border: 1px solid #ddd;
    background: #f4f4f4;
    color: #333;
    font-size: 0.868em;
    font-weight: normal;
}

/* 카운팅 ( view, read, like ) */
.etc.r {
    display: block;
    text-align: right;
}

.etc span {
    display: inline-block;
    margin-left: 9px;
    font-size: 0.714em;
    color: #b1b1b1;
}

.etc span:first-child {
    margin-left: 0;
}

.etc .read_cnt {
    padding-left: 21px;
    background-image: url("/bangpan/publish/img/ico/ico_eye.png");
    background-repeat: no-repeat;
    background-position: left center;
    -webkit-background-size: 17px 12px;
    -moz-background-size: 17px 12px;
    -o-background-size: 17px 12px;
    background-size: 17px 12px;
}

.etc .like_cnt {
    padding-left: 17px;
    background-image: url("/bangpan/publish/img/ico/ico_heart.png");
    background-repeat: no-repeat;
    background-position: left center;
    -webkit-background-size: 13px 11px;
    -moz-background-size: 13px 11px;
    -o-background-size: 13px 11px;
    background-size: 13px 11px;
}

.etc .like_cnt.active {
    background-image: url("/bangpan/publish/img/ico/ico_heart_red.png");
}

.etc .reply_cnt {
    padding-left: 17px;
    background-image: url("/bangpan/publish/img/ico/ico_speach_balloon.png");
    background-repeat: no-repeat;
    background-position: left center;
    -webkit-background-size: 12px 12px;
    -moz-background-size: 12px 12px;
    -o-background-size: 12px 12px;
    background-size: 12px 12px;
}

/* 가로형 버튼 (2개 이상) */
ul.hori_btns {
    display: table;
    width: 100%;
}

ul.hori_btns.col2 li {
    display: table-cell;
    width: 50%;
}

ul.hori_btns li a {
    display: block;
    position: relative;
    text-align: center;
    background-color: #fff;
    padding: 9px 0 12px 0;
    border-bottom: 1px solid #c1c1c1;
}

ul.hori_btns li a:before {
    content: '';
    width: 1px;
    height: 29px;
    background-color: #ececec;
    position: absolute;
    top: 5px;
    left: 0;
}

ul.hori_btns li a .count {
    color: #f96365;
    display: inline-block;
    margin-left: 3px;
}

/* 웹뷰 그림자 */
.wv_shadow {
    width: 100%;
    height: 3px;
    display: block;
    background-image: url("/bangpan/publish/img/com/webview_shadow.png");
    background-repeat: repeat-x;
    background-position: 0 0;
    -webkit-background-size: 1px 3px;
    -moz-background-size: 1px 3px;
    -o-background-size: 1px 3px;
    background-size: 1px 3px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
}

/* 그림자 */
.shadow, .main_visual, .video_area, .scroller .swiper-wrapper .swiper-slide a, .latest_list, .thumb_txt_list, .tab, .select_menu, .photo_list a, .img_list ul li, .more_and_top, .view_page .sns a, .reply_list li, .reply_more, .fb_type {
    border-bottom: 1px solid #cecece;
}

/* SECTION DEPTH */
#container, .container {
    padding: 20px 3.125%;
    background: #ececec;
}

.container.home {
    padding-top: 0;
}

#container.reply_write {
    margin-bottom: 57px;
}

.section {
    margin-top: 23px;
}

.section:first-child {
    margin-top: 0;
}

body.sub .section {
    margin-top: 15px;
}

body.sub .section h2.tit {
    font-size: 1.071em;
}

body.sub .section h2.tit .all_view {
    font-size: 0.867em;
}

/* TITLE DEPTH */
.tit {
    font-size: 1.214em;
    font-weight: bold;
}

.tit.small {
    font-size: 1.071em;
    margin-bottom: 7px;
}

.tit span {
    vertical-align: middle;
}

.tit .cnt {
    color: #f96365;
}

.tit .all_view {
    height: 100%;
    font-size: 0.765em;
    line-height: 1.4;
    float: right;
    font-weight: normal;
}

.tit .all_view span {
    vertical-align: middle;
}

.tit .all_view:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 19px;
    vertical-align: middle;
    margin-left: 4px;
    background-image: url("/bangpan/publish/img/ico/ico_arrow_r.png");
    background-repeat: no-repeat;
    background-position: 100% 3px;
    -webkit-background-size: 7px 12px;
    -moz-background-size: 7px 12px;
    -o-background-size: 7px 12px;
    background-size: 7px 12px;
}

h2.tit {
    text-indent: 6px;
    margin-bottom: 10px;
}

/* TAG */
.tag {
    display: inline-block;
    padding: 0 5px;
    line-height: 1.4em;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    font-size: 0.714em;
    color: #fff;
    vertical-align: middle;
}

.tag.new {
    line-height: 1.273em;
    font-size: 0.786em;
    font-weight: bold;
    background: #f96365;
}

.tag.miback {
    background: #677caf;
}

.tag.recommand {
    background: #677caf;
}

/* 등급 */
.grade {
    display: block;
    width: auto;
    font-size: 0.714em;
    line-height: 1.9;
    color: #fff;
    padding: 0 10px 0 21px;
  /* 여왕 */
  /* 여신 */
  /* 미인 */
  /* 쌩얼 */
  /* 공주 */;
}

.grade.g1 {
    background-image: url("/bangpan/publish/img/com/grade_01.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #9669ae;
    -webkit-background-size: 19px 19px;
    -moz-background-size: 19px 19px;
    -o-background-size: 19px 19px;
    background-size: 19px 19px;
}

.grade.g2 {
    background-image: url("/bangpan/publish/img/com/grade_02.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #eb6ca7;
    -webkit-background-size: 19px 19px;
    -moz-background-size: 19px 19px;
    -o-background-size: 19px 19px;
    background-size: 19px 19px;
}

.grade.g3 {
    background-image: url("/bangpan/publish/img/com/grade_03.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #b7cd5b;
    -webkit-background-size: 19px 19px;
    -moz-background-size: 19px 19px;
    -o-background-size: 19px 19px;
    background-size: 19px 19px;
}

.grade.g4 {
    background-image: url("/bangpan/publish/img/com/grade_04.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #ccc;
    -webkit-background-size: 19px 19px;
    -moz-background-size: 19px 19px;
    -o-background-size: 19px 19px;
    background-size: 19px 19px;
}

.grade.g5 {
    background-image: url("/bangpan/publish/img/com/grade_05.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #52c1db;
    -webkit-background-size: 19px 19px;
    -moz-background-size: 19px 19px;
    -o-background-size: 19px 19px;
    background-size: 19px 19px;
}

.grade.g6 {
    background-image: url("/bangpan/publish/img/com/grade_06.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #ffbe21;
    -webkit-background-size: 19px 19px;
    -moz-background-size: 19px 19px;
    -o-background-size: 19px 19px;
    background-size: 19px 19px;
}

/*
********************
	간편모드 - 메인
*********************
*/
/* 유저 간략 프로필 - 네이티브앱에서 처리 */
/*.simplify_profile {height:120px; background:$main-color;}
.simplify_profile .inner {max-width:280px;  margin:0 auto; padding-top:1px; position:relative;}
.simplify_profile .inner:after {content:''; display:block; clear:both;}
.simplify_profile .photo {width:80px; height:80px; margin:9px 0 0 5px; border:4px solid #fff; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; float:left;}
.simplify_profile .photo img {-webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%;}
.simplify_profile .grade {width:24px; height:24px; background-repeat:no-repeat; background-size:24px 24px; position:absolute; left:64px; top:70px;}
.simplify_profile .grade.g {background-image:url('/publish/img/ico/grade_g.png');}
.simplify_profile .info {margin:11px 0 7px 36px; float:left; color:#fff;}
.simplify_profile .info .user span {}
.simplify_profile .info .user span:before {content:''; width:0px; height:9px; display:inline-block; border-left:1px solid #bac5de; margin:0 6px 0 9px;}
.simplify_profile .info .user span:first-child:before {display:none;}
.simplify_profile .point {margin-bottom:12px;}
.simplify_profile .point .unit {font-weight:200; font-size:13px; letter-spacing:1px;}
.simplify_profile .point .num {font-size:27px;}*/
/* 메뉴 아이콘 */
/***********************
	기본모드 - 메인
************************/
/* NAVIGATION - gnb */
#gnbWrap {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 32px;
    overflow: hidden;
    background: #748abc;
}

#gnbWrap .move_bar {
    display: block;
    width: 10px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

#gnb {
    width: 1000px;
    height: 100%;
    position: absolute;
    z-index: 50;
}

#gnb ul {
    width: 100%;
    height: 100%;
}

#gnb ul li {
    display: block;
    float: left;
    position: relative;
    white-space: nowrap;
    margin-left: 14px;
}

#gnb ul li:first-child {
    margin-left: 0;
}

#gnb ul li a {
    display: block;
    padding: 9px 5px 7px;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.6);
}

#gnb ul li a.active {
    color: white;
}

/* MAIN VISUAL */
.main_visual.swiper-container {
    margin-left: -10px;
    margin-right: -10px;
}

.main_visual .swiper-pagination {
    bottom: 17px;
    text-align: center;
    width: 100%;
}

.main_visual .swiper-pagination .swiper-pagination-switch {
    display: inline-block;
    margin: 0 2px;
    width: 10px;
    height: 10px;
    background-color: #e1e1e1;
    text-indent: 200%;
    vertical-align: middle;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.main_visual .swiper-pagination .swiper-pagination-switch:hover, .main_visual .swiper-pagination .swiper-pagination-switch:active, .main_visual .swiper-pagination .swiper-pagination-switch.swiper-active-switch {
    background-color: #748abc;
}

/* 진저브레드일 경우 */
body.gingerbread .main_visual {
    font-size: 0;
}

body.gingerbread .main_visual img {
    display: block;
}

.video {
    position: relative;
    display: block;
    height: 100%;
}

.video:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("/bangpan/publish/img/ico/ico_play.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-background-size: 41px 41px;
    -moz-background-size: 41px 41px;
    -o-background-size: 41px 41px;
    background-size: 41px 41px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

/* VIDEO AREA (핫이슈) */
.video_area {
    position: relative;
}

.video_area .info {
    padding: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.video_area .info h3.tit {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #fff;
    font-weight: normal;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    -webkit-line-clamp: 1;
}

.video_area .info .etc {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 9px;
    padding-right: 10px;
    text-align: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* SWIPE LIST (최신 제품정보, 카운셀러 세일즈노트, 라이프스퀘어) */
.scroller.type01 .swiper-wrapper .swiper-slide a {
    position: relative;
}

.scroller.type01 .swiper-wrapper .swiper-slide a .info {
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
}

.scroller.type01 .swiper-wrapper .swiper-slide a .info h3.tit {
    position: relative;
    z-index: 20;
}

.scroller.type01 .swiper-wrapper .swiper-slide a .info h3.tit .tag, .scroller.type01 .swiper-wrapper .swiper-slide a .info h3.tit .subject {
    color: #fff;
    font-weight: normal;
}

.scroller .swiper-wrapper .swiper-slide {
    width: 180px;
}

.scroller .swiper-wrapper .swiper-slide a {
    display: block;
    width: 100%;
}

.scroller .swiper-wrapper .swiper-slide a .thumb {
    width: 100%;
    display: block;
    background-color: #fff;
}

.scroller .swiper-wrapper .swiper-slide a .thumb img {
    width: 100%;
    display: block;
}

.scroller .swiper-wrapper .swiper-slide a .info {
    max-width: 100%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-color: #fff;
    padding: 9px 7px;
    margin-top: 1px;
}

.scroller .swiper-wrapper .swiper-slide a h3.tit {
    height: 2.601em;
    display: block;
    display: -webkit-box;
    font-size: 0.929em;
    line-height: 1.4;
    font-weight: normal;
    color: #000;
    word-break: normal;
    white-space: normal;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.scroller .swiper-wrapper .swiper-slide a h3.tit .subject {
    display: block;
}

.scroller a .info {
    background-color: #fff;
}

.scroller a h3.tit .tag {
    color: #748abc;
    display: inline-block;
    margin-right: 3px;
    font-size: 1em;
}

.scroller a .etc {
    display: block;
    width: 100%;
    padding-right: 10px;
    text-align: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* 진저브레드 일 경우 */
body.gingerbread .scroller .swiper-wrapper .swiper-slide {
    width: 190px;
}

body.gingerbread .scroller .swiper-wrapper .swiper-slide a {
    width: 180px;
    margin-left: 10px;
}

body.gingerbread .scroller .swiper-wrapper .swiper-slide:first-child {
    width: 180px;
}

body.gingerbread .scroller .swiper-wrapper .swiper-slide:first-child a {
    margin-left: 0;
}

/* 최근게시물 리스트 (나만의 세일즈 노하우) */
.latest_list {
    background-color: #fff;
    padding: 3px 10px;
}

.latest_list li {
    border-top: 1px solid #ececec;
}

.latest_list li:first-child {
    border-top: 0;
}

.latest_list li a {
    display: block;
    padding: 12px 0 10px;
    line-height: 1;
    color: #000;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

/* 썸네일 + 텍스트 (칭찬합시다) */
.thumb_txt_list li {
    position: relative;
    background-color: #fff;
    padding: 14px 15px;
    margin-bottom: 1px;
}

.thumb_txt_list li .txt {
    margin-left: 56px;
}

.thumb_txt_list li .txt strong {
    display: block;
    color: #000;
    font-size: 1.071em;
    margin-bottom: 4px;
}

.thumb_txt_list li .txt .cont {
    font-size: 0.857em;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 2.71em;
    margin: 0 auto;
    line-height: 1.4;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.thumb_txt_list li .txt .info {
    display: block;
    margin-top: 0.214em;
    font-size: 0.786em;
    text-align: right;
}

.thumb_txt_list li .txt .info span {
    vertical-align: middle;
}

.thumb_txt_list li .txt .info .user_name {
    color: #000;
}

.thumb_txt_list li .txt .info .official_title:before {
    content: '';
    width: 1px;
    height: 11px;
    background-color: #666;
    display: inline-block;
    margin: 0 5px 0 3px;
    vertical-align: 0px;
}

.thumb_txt_list li .thumb {
    width: 46px;
    height: 46px;
    display: block;
    float: left;
}

.thumb_txt_list li .thumb img {
    display: block;
}

/***********************
		서브
************************/
/* 탭 */
.tab {
    display: block;
    margin-bottom: 15px;
}

.tab li {
    float: left;
}

.tab li a {
    display: block;
    padding: 9px 0 6px;
    margin-right: 1px;
    background-color: #fff;
    color: #7f7f7f;
    text-align: center;
    letter-spacing: 0.2px;
}

.tab li.active a {
    font-weight: bold;
    color: #fff;
    background-color: #677caf;
}

.tab.col2 li {
    width: 50%;
}

.tab.col2 li a {
    margin-bottom: 0;
}

.tab.col2 li:last-child a {
    margin-right: 0;
}

.tab.col3.multiline li.active a {
    padding-bottom: 5px;
}

.tab.col3.multiline li:nth-of-type(1) a, .tab.col3.multiline li:nth-of-type(2) a, .tab.col3.multiline li:nth-of-type(3) a {
    margin-bottom: 1px;
}

.tab.col3 li {
    width: 33.3%;
}

.tab.col3 li:nth-of-type(3n-1) {
    width: 33.4%;
}

.tab.col3 li:nth-of-type(3n) a {
    margin-right: 0;
}

.tab.col4 li {
    width: 25%;
}

.tab.col4 li a {
    margin-bottom: 0;
}

.tab.col4 li:nth-of-type(4n) a {
    margin-right: 0;
}

/* 셀렉트 메뉴 */
.select_menu {
    width: 100%;
    background: #d2d2d2;
    text-indent: 1.071em;
    font-size: 1.071em;
    color: #999;
    font-family: 'Spoqa Han Sans', HelveticaNeue-Light, AppleSDGothicNeo-Light, sans-serif;
    padding: 8px 0 5px;
    -webkit-appearance: none;
    margin-bottom: 15px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-image: url("/bangpan/publish/img/com/select_arrow.png");
    background-repeat: no-repeat;
    background-position: 96% 50%;
    -webkit-background-size: 12px 7px;
    -moz-background-size: 12px 7px;
    -o-background-size: 12px 7px;
    background-size: 12px 7px;
}

/* 세로정렬 리스트 ( 이미지 + 텍스트 ) */
.photo_list a {
    display: block;
    margin-bottom: 10px;
    background: #fff;
}

.photo_list a .thumb {
    width: 100%;
    display: block;
    background-color: #fff;
    position: relative;
}

.photo_list a .thumb img {
    width: 100%;
    display: block;
}

.photo_list a .info {
    max-height: 52px;
    max-width: 100%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-color: #fff;
    padding: 9px 10px;
    margin-top: 1px;
}

.photo_list a h3.tit {
    height: 1.301em;
    display: block;
    font-size: 0.929em;
    line-height: 1.4;
    font-weight: normal;
    color: #000;
    word-break: normal;
    word-break: keep-all;
    white-space: normal;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    white-space: nowrap;
}

.photo_list a h3.tit .subject {
      /*display: block;*/;
}

.photo_list a h3.tit .tag.new {
    font-size: 0.846em;
}

/* 가로정렬 리스트 ( 이미지 + 텍스트 ) */
.img_list ul li {
    margin-top: 5px;
    background: #fff;
}

.img_list ul li.recommand a {
    background: #eff4ff;
    border: 1px solid #ceddff;
}

.img_list ul li:first-child {
    margin-top: 0;
}

.img_list ul li a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.img_list ul li a .thumb {
    width: 36%;
    display: block;
}

.img_list ul li a .info {
    padding: 12px 15px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.img_list ul li a .info .tags {
    display: block;
    height: 14px;
}

.img_list ul li a .title {
    margin-top: 7px;
    color: #000;
    font-size: 1em;
}

.img_list ul li a .etc {
    display: block;
    margin-top: 8px;
    color: #b1b1b1;
}

.img_list ul li a .etc span {
    display: inline-block;
    height: 12px;
    margin-left: 9px;
}

.img_list ul li a .etc span:first-child {
    margin-left: 0;
}

.img_list.type02 ul li {
    min-height: 6.785em;
    padding: 5px;
}

.img_list.type02 ul li a .thumb {
    width: 40.3%;
}

.img_list.type02 ul li a .info {
    padding: 5px 10px 5px 12px;
}

/* 더보기 + 위로가기 */
.more_and_top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
}

.more_and_top a {
    display: inherit;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 2.714em;
    min-height: 38px;
    text-align: center;
    font-size: 0.786em;
    line-height: 2.714em;
}

.more_and_top a span {
    display: inline;
}

.more_and_top a span:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.more_and_top .btn_more {
    width: 70%;
    color: #748abc;
    background: #fff;
}

.more_and_top .btn_more span:after {
    width: 12px;
    height: 7px;
    margin-top: -1px;
    background-image: url("/bangpan/publish/img/ico/ico_dir_down.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: 12px 7px;
    -moz-background-size: 12px 7px;
    -o-background-size: 12px 7px;
    background-size: 12px 7px;
}

.more_and_top .btn_top {
    width: 30%;
    margin-left: 1px;
    color: #a0a0a0;
    background: #f6f6f6;
}

.more_and_top .btn_top span:after {
    width: 10px;
    height: 13px;
    margin-top: -3px;
    background-image: url("/bangpan/publish/img/ico/ico_arrow_up.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: 10px 13px;
    -moz-background-size: 10px 13px;
    -o-background-size: 10px 13px;
    background-size: 10px 13px;
}

/* 상세페이지 */
.view_page {
    background: #fff;
}

.view_page .view_head {
    padding: 15px 10px 11px;
    text-align: center;
    font-size: 1.214em;
    border-bottom: 1px solid #ececec;
    font-weight: bold;
}

.view_page .view_head.brand {
    height: 40px;
}

.view_page .view_head.brand.hera {
    background-image: url("/bangpan/publish/img/com/brand_hera.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: 103px 14px;
    -moz-background-size: 103px 14px;
    -o-background-size: 103px 14px;
    background-size: 103px 14px;
}

.view_page .view_head span {
    width: 100%;
    display: block;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.view_page .video_wrap {
    margin-right: -20px;
    margin-left: -20px;
    margin-top: -14px;
}

.view_page .video_wrap video {
    display: block;
    width: 100%;
    max-width: 100%;
}

.view_page .product_img {
    width: 210px;
    margin: 0 auto;
}

.view_page .view_content {
    padding: 14px 20px 0 20px;
    line-height: 1.4;
    font-size: 14px !important;
    letter-spacing: normal;
}

.view_page .view_content p {
    margin-top: 20px;
}

.view_page .view_content p:first-child {
    margin-top: 0;
}

.view_page .view_content img {
    display: block;
    width: 100%;
    margin-top: 13px;
}

.view_page .view_content .product_info {
    text-align: center;
}

.view_page .view_content .product_info .tags {
    display: block;
}

.view_page .view_content .product_info .product_title {
    font-size: 1.214em;
    color: #000;
}

.view_page .view_content .product_info .spec {
    display: block;
    font-size: 0.929em;
}

.view_page .view_content .cnt_bookmark_area {
    text-align: center;
    padding: 20px 0;
}

.view_page .view_content .cnt_bookmark_area a {
    display: inline-block;
    margin-left: 17px;
    font-size: 0.786em;
    color: #b1b1b1;
    line-height: 1.357em;
}

.view_page .view_content .cnt_bookmark_area a:first-child {
    margin-left: 0;
}

.view_page .view_content .cnt_bookmark_area .read_cnt {
    padding-left: 30px;
    background-image: url("/bangpan/publish/img/ico//ico_eye_view.png");
    background-repeat: no-repeat;
    background-position: left center;
    -webkit-background-size: 24px 16px;
    -moz-background-size: 24px 16px;
    -o-background-size: 24px 16px;
    background-size: 24px 16px;
}

.view_page .view_content .cnt_bookmark_area .like_cnt {
    padding-left: 23px;
    background-image: url("/bangpan/publish/img/ico//ico_heart_view.png");
    background-repeat: no-repeat;
    background-position: left center;
    -webkit-background-size: 17px 15px;
    -moz-background-size: 17px 15px;
    -o-background-size: 17px 15px;
    background-size: 17px 15px;
}

.view_page .view_content .cnt_bookmark_area .bookmark {
    padding-left: 26px;
    background-image: url("/bangpan/publish/img/ico//ico_star_view.png");
    background-repeat: no-repeat;
    background-position: left center;
    -webkit-background-size: 20px 19px;
    -moz-background-size: 20px 19px;
    -o-background-size: 20px 19px;
    background-size: 20px 19px;
}

.view_page .sns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    border-top: 1px solid #ececec;
}

.view_page .sns a {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: inherit;
    height: 40px;
    width: 50%;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-left: 1px solid #ececec;
}

.view_page .sns a:first-child {
    border-left: 0;
}

.view_page .sns a:before {
    content: '';
    display: inline-block;
    width: 21px;
    height: 21px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}

.view_page .sns a span {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    margin-left: 7px;
}

.view_page .sns .talk:before {
    background-image: url("/bangpan/publish/img/ico//ico_kakaotalk.png");
    background-repeat: no-repeat;
    background-position: left center;
    -webkit-background-size: 21px 21px;
    -moz-background-size: 21px 21px;
    -o-background-size: 21px 21px;
    background-size: 21px 21px;
}

.view_page .sns .story:before {
    background-image: url("/bangpan/publish/img/ico//ico_kakaostory.png");
    background-repeat: no-repeat;
    background-position: left center;
    -webkit-background-size: 21px 21px;
    -moz-background-size: 21px 21px;
    -o-background-size: 21px 21px;
    background-size: 21px 21px;
}

/* 댓글 리스트 */
.reply_list li {
    padding: 11px 10px 13px 13px;
    background: #fff;
    margin-top: 5px;
}

.reply_list li:first-child {
    margin-top: 0;
}

.reply_list li.admin, .reply_list li.best {
    padding-left: 10px;
}

.reply_list li.admin {
    border-left: 3px solid #6c84b7;
}

.reply_list li.admin .user_info .thumb {
    background: #748abc;
}

.reply_list li.admin .user_info .info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}

.reply_list li.admin .user_info .info .user_name {
    color: #748abc;
}

.reply_list li.best {
    border-left: 3px solid #f96365;
}

.reply_list li .user_info {
    display: block;
    position: relative;
    width: 100%;
}

.reply_list li .user_info .thumb {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

.reply_list li .user_info .thumb img {
    width: 100%;
}

.reply_list li .user_info .thumb:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("/bangpan/publish/img/com/user_thumb_mask.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    -o-background-size: 40px 40px;
    background-size: 40px 40px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

.reply_list li .user_info .info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 40px;
    margin-left: 51px;
}

.reply_list li .user_info .info .user_name {
    display: block;
    font-weight: bold;
    color: #333;
    margin-top: 6px;
}

.reply_list li .user_info .info .user_name .branch {
    font-weight: normal;
    color: #999;
}

.reply_list li .user_info .info .user_name .branch:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 14px;
    margin: 0 6px 0 2px;
    background: #999;
}

.reply_list li .user_info .like_cnt {
    display: inline-block;
    padding-right: 22px;
    font-size: 0.786em;
    line-height: 1.36;
    color: #f96365;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    background-image: url("/bangpan/publish/img/ico/ico_heart_view.png");
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-background-size: 17px 15px;
    -moz-background-size: 17px 15px;
    -o-background-size: 17px 15px;
    background-size: 17px 15px;
}

.reply_list li .user_info .update_time {
    display: inline-block;
    font-size: 0.786em;
    color: #999;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.reply_list li .user_info .update_time.today {
    padding-left: 18px;
    background-image: url("/bangpan/publish/img/ico/ico_clock.png");
    background-repeat: no-repeat;
    background-position: left center;
    -webkit-background-size: 13px 13px;
    -moz-background-size: 13px 13px;
    -o-background-size: 13px 13px;
    background-size: 13px 13px;
}

.reply_list li .txt {
    margin-top: 9px;
    font-size: 0.929em;
}

.reply_more {
    display: block;
    height: 30px;
    margin-top: 5px;
    padding-right: 15px;
    font-size: 0.857em;
    line-height: 2.143em;
    text-align: right;
    color: #666;
    background: #fff;
}

/* 댓글 입력 */
.reply_input {
    width: 100%;
    position: fixed;
    bottom: 0;
    background: rgba(90, 90, 90, 0.96);
    padding: 10px;
}

.reply_input form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.reply_input form input[type=text] {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: 0;
    -webkit-box-shadow: inset 3px 3px 6px 1px #E8E8E8;
    -moz-box-shadow: inset 3px 3px 6px 1px #E8E8E8;
    box-shadow: inset 3px 3px 6px 1px #E8E8E8;
}

.reply_input form .btn_reply_write {
    width: 54px;
    background: #97abd8;
    font-size: 0.929em;
    color: #fff;
}

/* 칭찬합시다 */
.fb_type {
    background: #fff;
    padding-top: 10px;
    margin-top: 10px;
}

.fb_type:first-child {
    margin-top: 0;
}

.fb_type .user_info {
    position: relative;
    padding-bottom: 10px;
    margin: 0 10px;
    border-bottom: 1px solid #ececec;
}

.fb_type .user_info .thumb {
    display: block;
    width: 43px;
    float: left;
}

.fb_type .user_info .thumb img {
    width: 100%;
}

.fb_type .user_info .info {
    margin-left: 53px;
}

.fb_type .user_info .info.no_job {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 43px;
}

.fb_type .user_info .info .employee {
    font-size: 0.929em;
}

.fb_type .user_info .info .employee .name {
    color: #333;
    font-weight: bold;
}

.fb_type .user_info .info .employee .branch {
    font-size: 0.857em;
}

.fb_type .user_info .info .employee .branch:before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 11px;
    margin: 0 5px;
    background: #999;
    vertical-align: -2px;
}

.fb_type .user_info .info .position {
    display: block;
    margin-top: 4px;
    color: #748abc;
    font-size: 0.857em;
}

.fb_type .user_info .update_time {
    font-size: 0.786em;
    color: #999;
    padding-left: 18px;
    background-image: url("/bangpan/publish/img/ico/ico_clock.png");
    background-repeat: no-repeat;
    background-position: left center;
    -webkit-background-size: 12px 12px;
    -moz-background-size: 12px 12px;
    -o-background-size: 12px 12px;
    background-size: 12px 12px;
    position: absolute;
    right: 0;
    bottom: 10px;
    z-index: 10;
}

.fb_type .content {
    padding: 14px 0 11px 0;
    margin: 0 10px;
    font-size: 0.929em;
}

.fb_type .content h3 {
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
}

.fb_type .content h3 span {
    vertical-align: middle;
}

.fb_type .content h3 .new {
    display: inline-block;
    padding: 2px 6px 1px;
    margin-left: 5px;
    font-size: 0.786em;
    color: #fff;
    font-weight: normal;
    background: #748abc;
    vertical-align: middle;
}

.fb_type .content .txt {
    line-height: 1.4;
    margin-bottom: 7px;
}

.fb_type .content .txt a.more {
    display: inline-block;
    font-weight: bold;
    color: #748abc;
}

.fb_type .etc {
    display: block;
    margin-top: 10px;
    text-align: right;
}

.fb_type .etc_btns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    border-top: 1px solid #ececec;
}

.fb_type .etc_btns a {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: inherit;
    height: 31px;
    width: 34%;
    border-left: 1px solid #ececec;
}

.fb_type .etc_btns a:first-child {
    border-left: 0;
}

.fb_type .etc_btns a.reply {
    background-image: url("/bangpan/publish/img/ico/ico_reply_big.png");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: 14px 17px;
    -moz-background-size: 14px 17px;
    -o-background-size: 14px 17px;
    background-size: 14px 17px;
}

.fb_type .etc_btns a.bookmark {
    background-image: url("/bangpan/publish/img/ico/ico_star_big.png");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: 18px 17px;
    -moz-background-size: 18px 17px;
    -o-background-size: 18px 17px;
    background-size: 18px 17px;
}

.fb_type .etc_btns a.bookmark.active {
    background-image: url("/bangpan/publish/img/ico/ico_star_big_active.png");
}

.fb_type .etc_btns a.like {
    background-image: url("/bangpan/publish/img/ico/ico_heart_big.png");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: 16px 17px;
    -moz-background-size: 16px 17px;
    -o-background-size: 16px 17px;
    background-size: 16px 17px;
}

.fb_type .etc_btns a.like.active {
    background-image: url("/bangpan/publish/img/ico/ico_heart_big_active.png");
}
